<!DOCTYPE html>
<html>

<body>

  <h2>Requested book is:</h2>

  <div>
    <table *ngIf="book">
      <tr>
        <th>Author</th>
        <th>Title</th>
        <th>Public</th>
        <th>Pages</th>
        <th>Genre</th>
        <th>Owner</th>
      </tr>
      <tr>
        <td>{{book.author}}</td>
        <td>{{book.title}}</td>
        <td>{{book.publik}}</td>
        <td>{{book.pages}}</td>
        <td>{{book.genre}}</td>
        <td>{{book.owner}}</td>
      </tr>
    </table>
  </div>
  
  <br>
  <button id="gtBack" (click)="gotoBack()">Back</button>
</body>

</html>
