<html>

<head>
  <title>Book Store</title>
</head>

<body>

  <div class="bground">
  <ul class="links">
    <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
    <li><a routerLink="/signup" routerLinkActive="active">SignUp</a></li>
    <li><a routerLink="/login" routerLinkActive="active">LogIn</a></li>
    <li><a routerLink="/books" routerLinkActive="active">Books</a></li>
  </ul>

  <h1>Angular Book-Store Application</h1>
  </div>
  <hr>

  <router-outlet></router-outlet>

</body>

</html>
