<div *ngIf="!submitted">
  <h2>SIGNUP</h2>
  <form (ngSubmit)="userSignup()" #userForm="ngForm">

    <div>
      <label for="name">User name:</label><br>
      <input type="text" id="name" required [(ngModel)]="user.name" name="name" #name="ngModel">
      <div class="err-msg" *ngIf="name.invalid">
        Name is required
      </div>
    </div>

    <br>

    <div>
      <label for="passw">Password:</label><br>
      <input type="password" id="passw" [(ngModel)]="user.passw" name="passw" #passw="ngModel">
      <br><br>
    </div>

    <button type="submit" [disabled]="userForm.form.invalid">Register</button>

  </form>
</div>