<div *ngIf="!submitted">
  <h2>SIGNUP</h2>
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">

    <div>
      <label for="name">User name:</label><br>
      <input type="text" id="name" required [(ngModel)]="user.name" name="name" #name="ngModel">
      <div class="err-msg" *ngIf="name.invalid">
        Name is required
      </div>
    </div>

    <br>

    <div>
      <label for="passw">Password:</label><br>
      <input type="text" id="passw" [(ngModel)]="user.password" name="passw" #password="ngModel">
      <br><br>
    </div>

    <button type="submit" [disabled]="userForm.form.invalid">New User</button>

  </form>
</div>


<div *ngIf="submitted">
  <h4>You submitted the following:</h4>
  <div>
    <div class="subm-txt">name:</div>
    <div>{{ user.name }}</div>
  </div><br>
  <div>
    <div class="subm-txt">password:</div>
    <div>{{ user.password }}</div>
  </div>
  <br>
  <button (click)="submitted=false">Edit</button>
</div>
